{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-dark text-white p-4">
                <div class="text-center mb-5">
                    <img src="{{ asset('images/vaclav.jpg') }}" class="rounded-circle img-fluid mb-3" width="40%" alt="Václav Cenker">
                    <h1 class="h2 text-yellow">Václav Cenker</h1>
                </div>
                <section class="mb-5">
                    <h2 class="h4 text-white text-uppercase">
                        <i class="fa fa-fw fa-cogs rounded-circle bg-yellow text-dark p-2 mr-2" aria-hidden="true"></i>
                        {{ 'knowledge'|trans }}
                    </h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Microsoft Office
                            <div class="progress rounded-0">
                                <div class="progress-bar bg-yellow" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-2">
                            Adobe Id, Ai, Ps
                            <div class="progress rounded-0">
                                <div class="progress-bar bg-yellow" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-2">
                            Cinema 4D
                            <div class="progress rounded-0">
                                <div class="progress-bar bg-yellow" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-2">
                            HTML, CSS
                            <div class="progress rounded-0">
                                <div class="progress-bar bg-yellow" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="mb-5">
                    <h2 class="h4 text-white text-uppercase">
                        <i class="fa fa-fw fa-language rounded-circle bg-yellow text-dark p-2 mr-2" aria-hidden="true"></i>
                        {{ 'languages'|trans }}
                    </h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="row">
                            <div class="col">
                                {{ 'english'|trans }}
                            </div>
                            <div class="col">
                                B2
                            </div>
                        </li>
                        <li class="row">
                            <div class="col">
                                {{ 'german'|trans }}
                            </div>
                            <div class="col">
                                A2
                            </div>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 class="h4 text-white text-uppercase">
                        <i class="fa fa-fw fa-clock-o rounded-circle bg-yellow text-dark p-2 mr-2" aria-hidden="true"></i>
                        {{ 'hobbies'|trans }}
                    </h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li>{{ 'scouting'|trans }}</li>
                        <li>{{ 'hiking'|trans }}</li>
                        <li>Weighted calisthenics</li>
                        <li>{{ 'floorball'|trans }}</li>
                        <li>{{ 'volleyball'|trans }}</li>
                        <li>{{ 'cycling'|trans }}</li>
                        <li>Origami</li>
                    </ul>
                </section>
            </div>
            <div class="col-md-8 bg-faded p-4">
                <a class="pull-right" href="{{ path('homepage', { '_locale': app.locale == 'cs' ? 'en' : 'cs' }) }}">{{ app.locale == 'cs' ? 'English' : 'Česky' }}</a>
                <section class="mb-5">
                    <h2 class="h4 text-uppercase">
                        <i class="fa fa-fw fa-user rounded-circle bg-warning text-white p-2 mr-2" aria-hidden="true"></i>
                        {{ 'personal_info'|trans }}
                    </h2>
                    <hr>
                    <address>
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                        Doloplazy 59, 783 56 Doloplazy, Česká republika
                    </address>
                    <span class="mr-4">
                        <i class="fa fa-fw fa-phone mb-3" aria-hidden="true"></i>
                        <a href="tel:+420735077292">735 077 292</a>
                    </span>
                    <br class="d-sm-none">
                    <span class="mr-4">
                        <i class="fa fa-fw fa-envelope-o mb-3" aria-hidden="true"></i>
                        <a href="mailto:vaclav.cenker@gmail.com">vaclav.cenker@gmail.com</a>
                    </span>
                    <br class="d-sm-none">
                    <span class="mr-4">
                        <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i>
                        08. 07. 1997
                    </span>
                </section>
                <section class="mb-5">
                    <h2 class="h4 text-uppercase">
                        <i class="fa fa-fw fa-briefcase rounded-circle bg-warning text-white p-2 mr-2" aria-hidden="true"></i>
                        {{ 'experiences'|trans }}
                    </h2>
                    <hr>
                    <ul class="list-connected list-connected-warning">
                        <li>
                            <p class="text-warning">
                                <strong>2017</strong>
                            </p>
                            <p>
                                <strong>Authentica</strong> / {{ 'post1'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'exp-authentica'|trans }}
                            </p>
                        </li>
                        <li>
                            <p class="text-warning">
                                <strong>2013–2017</strong>
                            </p>
                            <p>
                                <strong>VNP</strong> / {{ 'post1'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'exp-vnp'|trans }}
                            </p>
                        </li>
                        <li>
                            <p class="text-warning">
                                <strong>2016</strong>
                            </p>
                            <p>
                                <strong>Patriot Reality</strong> / {{ 'post2'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'exp-patriot'|trans }}
                            </p>
                        </li>
                        <li>
                            <p class="text-warning">
                                <strong>2015</strong>
                            </p>
                            <p>
                                <strong>Gymnazium Olomouc – Hejčín</strong> / {{ 'post1'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'exp-hejcin'|trans }}
                            </p>
                        </li>
                    </ul>
                </section>
                <section class="mb-5">
                    <h2 class="h4 text-uppercase">
                        <i class="fa fa-fw fa-graduation-cap rounded-circle bg-warning text-white p-2 mr-2" aria-hidden="true"></i>
                        {{ 'education'|trans }}
                    </h2>
                    <hr>
                    <ul class="list-connected list-connected-warning">
                        <li>
                            <p class="text-warning">
                                <strong>2013–2017</strong>
                            </p>
                            <p>
                                <strong>Gymnazium Olomouc – Hejčín</strong> / {{ 'grammar-school'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'edu-hejcin'|trans }}
                            </p>
                        </li>
                        <li>
                            <p class="text-warning">
                                <strong>2017–2020</strong>
                            </p>
                            <p>
                                <strong>{{ 'up'|trans }}</strong> / {{ 'discrete-math'|trans }}
                            </p>
                            <p class="mb-0 pb-3">
                                {{ 'edu-up'|trans }}
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
